<!doctype html>
<html lang="en" ng-app="demoRedirect" data-ng-controller="RedirectCtrl">

<head>
  <meta charset="utf-8">
  <title>Client-side authentication demo</title>
</head>

<body>

  <div>
    <input type="checkbox" id="askApproval" data-ng-model="askApproval" />
    <label for="askApproval">Always ask me for approval (even if I've already given it)</label>

    <div>
      <button data-ng-click="authenticate()">Authenticate With Redirect</button>
    </div>
  </div>

  {{test}}

  <div data-ng-show="accessToken">
    <h1>You're authenticated!</h1>

    <h2>Access token</h2>
    <pre>{{accessToken}}</pre>

    <div data-ng-show="expiresIn">
      <h2>Expiry</h2>
      <p>Expires in {{expiresIn}} seconds.</p>
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.js"></script>
  <script src="https://code.angularjs.org/1.2.26/angular-route.min.js"></script>
  <script src="../src/js/googleOauth.js"></script>
  <script src="../src/js/angularOauth.js"></script>
  <script src="js/redirectDemo.js"></script>
</body>

</html>